<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>About us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/about.css')}}">
</head>

<body>
    <div class="section">
        <div class="container">
            <div class="content-section">
                <div class="title">
                    <h1>About Us</h1>
                </div>
                <div class="content">
                    <h3>The heart of smart agriculture lies in data-driven insights. Farmers can monitor and manage their fields with unprecedented precision, identifying areas that require attention and allocating resources more effectively. This not only boosts yields and reduces waste but also promotes environmental stewardship by minimizing the use of water, pesticides, and other resources. Additionally, remote monitoring and automation enable farmers to respond promptly to changing conditions, leading to greater resilience against challenges like climate fluctuations and disease outbreaks. </p>
                    <div class="button"><a href="bootstrap/firstpage.html">Back</a></div>
                </div>
                <div class="social">
                    <a href="https://www.google.com/" target="_blank"><i class='fa fa-google'></i></a>
                    <a href="https://www.facebook.com/facebook/" target="_blank"><i class='fa fa-facebook'> </i></a>
                    <a href="https://www.instagram.com/" target="_blank"><i class='fa fa-instagram'> </i></a>
                    <a href="https://twitter.com/?lang=en" target="_blank"><i class='fa-brands fa-twitter'> </i></a>
                </div>
            </div>
            <div class="image">
                <img src="../static/image1.jpeg" style="height: 400px;width:500px" alt="not found">
            </div>
        </div>
    </div>
</body>

</html>