<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{url_for('static',filename='css/fertilizer.css')}}">
    <title>Crop Information</title>
  </head>
  <body>
    <div>
      <h1>RECOMMENDED FERTILIZER</h1>
    </div>
    <div>
      <p id="text">
        Seed companies need to predict the performances of new hybrids in
        various environments to breed for better varieties. Fertilizer
        Recommendation system for disease Prediction recommends the best crop to
        grow, fertilizers to use and the diseases caught by your crops. A
        fertilizer recommendation is the research-based set of guidelines, or
        management practices, for supplying fertilizer to the crop to achieve
        yield and quality goals (economic) in a manner that minimizes nutrient
        losses to the environment. The goal of research on fertilizer rate is to
        determine the amount of fertilizer needed to achieve a commercial crop
        yield with sufficient quality that is economically acceptable for the
        grower.
      </p>
    </div>
    <div class="crop-container">
      <div class="crop">
        <img src="../static/carrot.jpeg" alt="Carrot" />
        <h2>Carrot</h2>
        <p>Recommended Fertilizer: Balanced N-P-K fertilizer</p>
        <p>Recommended Fertilizer: Organic compost and well-rotted manure</p>
        <p>Use at regular Intervals</p>
      </div>

      <div class="crop">
        <img src="../static/ginger.jpeg" alt="Ginger" />
        <h2>Ginger</h2>
        <p>Recommended Fertilizer: Organic compost and well-rotted manure</p>
        <p>Recommended Fertilizer: Potassium-based fertilizer</p>
        <p>Ratio at 0 : 0-50 pounds</p>
        <p>Ratio : 50-80 pounds</p>
      </div>

      <div class="crop">
        <img src="../static/tomato.jpeg" alt="Tomato" />
        <h2>Tomato</h2>
        <p>Recommended Fertilizer: Potassium-based fertilizer</p>
        <p>Recommended Fertilizer: High-potassium fertilizer</p>
        <p>Ratio at 0: 0.5-1 Pounds</p>
        <p>Ratio : 1-2 Pounds</p>
      </div>
      <div class="crop">
        <img src="../static/potato.jpg" alt="Potato" />
        <h2>Potato</h2>
        <p>Recommended Fertilizer: High-potassium fertilizer</p>
      </div>
      <div class="crop">
        <img src="../static/potato.jpg" alt="Cabbage" />
        <h2>Cabbage</h2>
        <p>Recommended Fertilizer: Balanced N-P-K fertilizer</p>
      </div>
      <div class="crop">
        <img src="../static/beetroot.jpg" alt="Beetroot" />
        <h2>Beetroot</h2>
        <p>Recommended Fertilizer: Phosphorus-rich fertilizer</p>
      </div>
      <div class="crop">
        <img src="../static/apple.jpg" alt="Apple" />
        <h2>Apple</h2>
        <p>
          Recommended Fertilizer: Nitrogen-rich fertilizer for young trees,
          balanced for mature trees
        </p>
      </div>
      <div class="crop">
        <img src="../static/lemon.jpeg" alt="Lemon" />
        <h2>Lemon</h2>
        <p>
          Recommended Fertilizer: Citrus-specific fertilizer with micronutrients
        </p>
      </div>
      <div class="crop">
        <img src="../static/grapes.jpg" alt="Grapes" />
        <h2>Grapes</h2>
        <p>
          Recommended Fertilizer: Balanced N-P-K fertilizer with emphasis on
          potassium
        </p>
      </div>
    </div>
  </body>
</html>
