<html>
    <head>
     <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
<script type="text/javascript" src="{{url_for('static',filename='scripts/login.js')}}"></script>

     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <!-- <body>
       <form action="/submit" method="post">
            <input type="text" id="name" name="name">
            <input type="submit">
            <h1>hii</h1>
        </form>
    </body> -->


    <body class="bg-black">
        <nav class="navbar  navbar-expand-lg navbar-dark bg-dark text-white fixed-top">
          <div class="container-fluid">
            <a class="navbar-brand w-25" href="#"><img src="{{url_for('static',filename='logo.png')}}" style="height: 60px; width: 60px;" alt="not found"></a>
            <button class="navbar-toggler border-0" id="btn" type="button" data-bs-toggle="collapse" data-bs-target="#mynav" aria-controls="#mynav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon border-0"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynav">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-between w-100 my-auto">
                
                <li class="nav-item dropdown my-auto">
                  <button class=" btn-lg text-white bg-dark nav-link active border-0 dropdown-toggle w-100 " href="#" id="drp" data-bs-toggle="dropdown" aria-expanded="false" >
                   HOME 
                  </button>
                  <ul class=" dropdown-menu bg-dark text-center" aria-labelledby="drp">
                    <li><hr class="dropdown-divider text-white"></li>
                    <a class=" dropdown-item bg-dark text-white-50 p-0"><button class="btn btn-dark border-0 w-100 h-100" onclick="window.location.href='http://localhost:3000/Market'" id="d1">Soil Base</button></a>
                    <li><hr class="dropdown-divider text-white"></li>
                    <a class="bg-dark dropdown-item text-white-50 p-0"><button class="btn btn-dark border-0 w-100 h-100" onclick="window.location.href='http://localhost:3000/Cart'" id="d2">Fertilizers</button></a>
                    <li><hr class="dropdown-divider text-white"></li>
                    <a class="bg-dark dropdown-item text-white-50 p-0"><button class="btn btn-dark border-0 w-100 h-100" onclick="window.location.href='http://localhost:3000/Orders'" id="d3">Seasonal Crops</button></a>
                    <li><hr class="dropdown-divider text-white"></li>
                  </ul>
                </li>
                <li class="nav-item my-auto">
                  <a class="nav-link active p-0 bg-dark" aria-current="page" href="About.html"><button class="btn w-100 bg-dark text-white btn-lg border-0" id="da">ABOUT</button> </a>
                </li>
                <li class="nav-item my-auto">
                  <a class="nav-link active bg-dark" aria-current="page" href="Market.html"><button class="btn w-100 bg-dark text-white btn-lg border-0" id="ds">CATEGORIES</button> </a>
                </li>
                <li class="nav-item my-auto">
                  <a class="nav-link active my-auto bg-dark" aria-current="page" href="Contacts.html"><button class="btn w-100 bg-dark text-white btn-lg border-0" id="dc">CONTACT</button> </a>
                </li>
                <li class="nav-item my-auto">
               
                </li>
               
              </ul>
            </div>
          </div>
        </nav>
          <div class="container p-5 mt-5">
              <div class="container-fluid bg-light p-5">
                  <ul id="clothing-nav" class="nav nav-pills nav-justified  mb-3" role="tablist">
                      
                  <li class="nav-item">
                  <a class="btn nav-link active" href="#Login" id="home-tab" role="tab" data-bs-toggle="tab" aria-controls="Login" aria-expanded="true">Login</a>
                  </li>
                  
                  <li class="nav-item">
                  <button class="btn nav-link" href="#SignUp" role="tab" id="hats-tab" data-bs-toggle="tab" aria-controls="SignUp">SignUp</button>
                  </li>
                  
                  </ul>
                  <div id="clothing-nav-content" class="tab-content">
                  
                  <div role="tabpanel" class="tab-pane fade show active" id="Login" aria-labelledby="home-tab">
                    <p style="color: red;">{{msg}}</p>
                      <form name="logForm" action="/submit" onsubmit="return login()" method="post">
                        
                          <div class="form-outline mb-4">
                            <label class="form-label" for="loginName">Email</label>
                            <input type="email" id="loginEmail" class="form-control" name="email">
                            <p id="para1"></p>
                          </div>
                          <div class="form-outline mb-4">
                            <label class="form-label" for="loginEmail">Username</label>
                            <input type="text" id="loginName" class="form-control" name="username">
                            <p id="para2"></p>
                          </div>
                          <div class="form-outline mb-4">
                            <label class="form-label" for="loginPassword">Password</label>
                            <input type="password" id="loginPassword" class="form-control" name="password">
                            
                            <p id="para3"></p>
                          </div>
                          <div class="row mb-4">
                            <div class="col-md-6 d-flex justify-content-center">
                              <div class="form-check mb-3 mb-md-0">
                                <input class="form-check-input" type="checkbox" value="" id="loginCheck" checked />
                                <label class="form-check-label" for="loginCheck"> Remember me </label>
                              </div>
                            </div>
                    
                            <div class="col-md-6 d-flex justify-content-center">
                              <a href="#!">Forgot password?</a>
                            </div>
                          </div>
                          <div class="text-center">
                            <input type="submit" value="Login" class="btn btn-dark btn-block  mb-md-0">
                          </div>
                          <div class="text-center mb-3">
                            <p>Sign in with:</p>
                            <button type="button" class="btn btn-link btn-outline-primary text-dark border-0 btn-floating  mx-1">
                              <i class="fa fa-facebook fa-2x"></i>
                            </button>
                    
                            <button type="button" class="btn btn-link btn-outline-warning text-dark border-0 btn-floating mx-1">
                              <i class="fa fa-google fa-2x"></i>
                            </button>
                    
                            <button type="button" class="btn btn-link btn-outline-info text-dark border-0 btn-floating mx-1">
                              <i class="fa fa-twitter fa-2x"></i>
                            </button>
                    
                            <button type="button" class="btn btn-link btn-outline-secondary text-dark border-0 btn-floating mx-1">
                              <i class="fa fa-github fa-2x"></i>
                            </button>
                          </div>
                      </form>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="SignUp" aria-labelledby="hats-tab">
                    <p style="color: red;">{{msg1}}</p>
                      <form name="RegForm" action="/signup" onsubmit="return signup()"method="post">
                          <div class="form-outline mb-4">
                            <label for="name">Name</label>
                            <input type="text" id="registerName" class="form-control" name="name"/>
                            <p class="ps-5 px-5" id="show">
                            </p>
                          </div>
                          <p id="demo"></p>
                          <div class="form-outline mb-4">
                            <label class="form-label" for="registerUsername">Username</label>
                            <input type="text" id="registerUsername" class="form-control" name="Username"/>
                            <p class="ps-5 px-5" id="show1">
                            </p>
                          </div>
                          <div class="form-outline mb-4">
                            <label class="form-label" for="registerEmail">Email</label>
                            <input type="email" id="registerEmail" class="form-control" name="email">
                            <p class="ps-5 px-5" id="show2">
                            </p>
                          </div>
                          <div class="form-outline mb-4">
                            <label class="form-label" for="registerEmail">Date of Birth</label>
                            <input type="date" id="dob" class="form-control" name="dob">
                            <p class="ps-5 px-5" id="show3">
                            </p>
                          </div>
                          <div class="form-outline mb-4">
                            <label class="form-label" for="registerPassword">Password</label>
                            <input type="password" id="registerPassword" class="form-control" name="password"/>
                            <p class="ps-5 px-5" id="show4">
                            </p>
                          </div>
                          <div class="form-outline mb-4">
                            <label class="form-label" for="registerRepeatPassword">Repeat password</label>
                            <input type="password" id="registerRepeatPassword" class="form-control" name="repass"/>
                            <p class="ps-5 px-5" id="show5">
                            </p>
                          </div>
                          <div class="form-check d-flex justify-content-center mb-4">
                            <input class="form-check-input me-2 bg-dark" type="checkbox" id="registerCheck"
                              aria-describedby="registerCheckHelpText" />
                            <label class="form-check-label" for="registerCheck">
                              I have read and agree to the terms
                            </label>
                          </div>
                          <div class="text-center">
                            <input type="submit" value="SignUp" class="btn btn-dark">
                          </div>
                          <div class="text-center mb-3">
                            <p>Sign in with:</p>
                            <button type="button" class="btn btn-link btn-outline-primary text-dark border-0 btn-floating  mx-1">
                              <i class="fa fa-facebook fa-2x"></i>
                            </button>
                    
                            <button type="button" class="btn btn-link btn-outline-warning text-dark border-0 btn-floating mx-1">
                              <i class="fa fa-google fa-2x"></i>
                            </button>
                    
                            <button type="button" class="btn btn-link btn-outline-info text-dark border-0 btn-floating mx-1">
                              <i class="fa fa-twitter fa-2x"></i>
                            </button>
                    
                            <button type="button" class="btn btn-link btn-outline-secondary text-dark border-0 btn-floating mx-1">
                              <i class="fa fa-github fa-2x"></i>
                            </button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
          </div>
          <footer style="background-color: black;">
            <div class=" text-white pt-0.5 pb-0.5">
            <div class="container text-center text-md-left">
                <div class="row text-center text-md-left">
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-6" style="margin-top: 75px;">
                        <a href="#" class="navbar-brand w-25"><img src="http://localhost:3000/image" alt=""></a>
                        <p><br> Here you get differences of same products from different sellers in different domain</p>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-5">
                        <h5 class="text-uppercase mb-4 font-weight-bold">SERVICES</h5>
                        <p>
                            <a href="Contacts.html" class="text-white">Contact</a>
                        </p>
                        <p>
                            <a href="#" class="text-white">Delivery</a>
                        </p>
                        <p>
                            <a href="#" class="text-white">Comparision</a>
                        </p>
                        <p>
                            <a href="#" class="text-white">Packages</a>
                        </p>
                        <p>
                            <a href="#" class="text-white">Remote Access</a>
                        </p>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-5">
                        <h5 class="text-uppercase mb-4 font-weight-bold">SERVICES</h5>
                        <div class="address">
                        <address>
                            <i class="fa fa-home"></i>2nd floor, CTComplex, Chennai, Pin:6000028 <br><br>
                            <a href="mailto:Customercare.dep@gmail.com" class="text-white"><i class="fa fa-envelope"></i>Customercare</a><br><br>
                            <a href="tel:123456789" class="text-white"><i class="fa fa-phone"></i>+91 123456789 </a><br><br>
                            <a href="tel:1234567" class="text-white"><i class="fa fa-print"></i>123 456</a>
                        </address>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-5">
                        <h5 class="text-uppercase mb-4 font-weight-bold">Follow Us</h5>
                        <address class="social w-100">
                            <a href="https://www.facebook.com/" target="_blank" class="text-white m-2"><i class="fa fa-facebook-f fa-2x"></i></a>
                            <a href="https://twitter.com/" target="_blank" class="text-white m-2"><i class="fa fa-twitter fa-2x"></i></a>
                            <a href="https://web.whatsapp.com/" target="_blank" class="text-white m-2"><i class="fa fa-whatsapp fa-2x"></i></a>
                            <a href="https://www.instagram.com/" target="_blank" class="text-white m-2"><i class="fa fa-instagram fa-2x"></i></a>
                        </address>
                    </div>
                </div>
            </div>
            </div>
        </footer>
      </body>
</html>