<html>
    <head>
        <style>
            img {
              border-radius: 50%;
            }
            .header
            {
                background-color: rgb(5, 113, 54);
                text-align: center;
                
            }
            * {
             box-sizing: border-box;
           }

           .column {
             float: left;
             width: 33.33%;
             padding: 15px;
           }


    </style>
    </head>
    <body>
        <div class="header">
         <h1>SEASONAL CROPS</h1>   
        </div>
        
        
        <div class="row1">
           <div style=" text-align: center;"><H2 >SUMMER SEASON</H2> </div> 
            <div class="column">
                
              
              <img src="../static/c2.jpg" alt="Avatar" style="width:200px ;height:200px;">
              
                <h3>SWEET CORN</h3>
                <p>
                In kharif season, crop is sown in month of May end to June corresponding with the onset of monsoon. Spring crops are sown during late February to end of march. Plantation of baby corn can be done all the year round, except December and January. Kharif and rabi season are best for sweet corn sowing.
                </p>
            </div>
            
            <div class="column">
              
              <img src="../static/c3.jpg" alt="Avatar" style="width:200px ;height:200px">
              <h3>CARROT</h3>
              <p>August-September is best time for sowing local (desi) varieties of carrots whereas October-November month is ideal for European varieties. Use row to row spacing of 45 cm and plant to plant spacing of 7.5 cm. For sowing use dibbling method and also use broadcasting method.</p>
            </div>
            
            <div class="column">
                <img src="../static/c4.jpg" alt="Avatar" style="width:200px ;height:200px">
                <h3>TOMATO</h3>
              <p>The best time for tomato cultivation in the summer season will be May- July. In summer season artificial hormone application not necessary but fruit set to increase two times as well as yield due to hormone application. You may also check the Urban Farming Techniques.</p>
            </div>
          </div>
          
        <div class="row2">
          <div style="text-align: center;"> <H2>WINTER</H2> </div>
            <div class="column">
                
              
              <img src="../static/cc1.jpg" alt="Avatar" style="width:200px ;height:200px;">
              
                <h3>CAULIFLOWER</h3>
                <p>
                    It requires cool moist climate. The early varieties may tolerate higher temperature and long days. This can be grown in plains during September to February. Deep loamy soils with a pH range of 5.5 to 6.6 with higher organic matter content and good drainage are suited for cauliflower cultivation.
                </p>
            </div>
            
            <div class="column">
              
              <img src="../static/cc2.jpg" alt="Avatar" style="width:200px ;height:200px">
              <h3>POTATO</h3>
              <p>In plains of Haryana, Punjab, Uttar Pradesh, Bihar and West Bengal spring crop is sown in January while the main crop in the 1st week of October. In the states of Madhya Pradesh, Maharashtra and Karnataka the kharif crop is sown by end of June while rabi crop is sown from mid of October-November.</p>
            </div>
            
            <div class="column">
                <img src="../static/cc3.jpg" alt="Avatar" style="width:200px ;height:200px">
                <h3>WHEAT</h3>
              <p>What is the duration of winter wheat?
                Winter wheat is planted from 20 September to 10 October, and harvested from 25 June to 30 June, with yield advantage of 2.0–2.5 t ha−1 in comparison with spring wheat. With the replacement of spring wheat by winter wheat, maize yield also increased around 750 kg ha−1 owing to the early harvesting of winter wheat.
              </p>                
            </div>
        </div>
        <div class="row3">
          <div style="text-align: center;"><H2>MONSOON SEASON</H2> </div>  
            <div class="column">
                
              
              <img src="../static/ccc1.jpg" alt="Avatar" style="width:200px ;height:200px;">
              
                <h3>BANANA</h3>
                <p>Four months of monsoon (June to September) with an average 650-750 mm. rainfall are most important for vigorous vegetative growth of banana. At higher altitudes, banana cultivation is restricted to a few varieties like 'Hill banana”.</p>
            </div>
            
            <div class="column">
              
              <img src="../static/ccc2.jpg" alt="Avatar" style="width:200px ;height:200px">
              <h3>OKRA</h3>
              <p>In north it is cultivated in rainy and spring season. In rainy season, it is sown during June-July and for spring season it is cultivated in February - March. Row to row spacing should be 45 cm is recommended and plant to plant distance is 15-20 cm</p>
            </div>
            
            <div class="column">
                <img src="../static/ccc4.jpg" alt="Avatar" style="width:200px ;height:200px">
                <h3>GINGER</h3>
                <P>The planting season for ginger is from March-April, with the onset of the monsoon. The crop duration is generally around 8-9 months (April/May to December/ January). Ginger is planted in rows, 30 cm apart at distances of 20-25 cm within the row.</P>
                              
            </div>

        </div>
          

        
    </body>
</html>
